*{
    margin: 0px;padding: 0px;box-sizing: border-box;
}

.nav-color{
    background-color: rgb(255, 231, 12); box-shadow: 2px 3px 10px 5px rgb(196, 196, 196);
}


.links{
    text-decoration: none;color: black;font-size: 16px;font-family: Arial, Helvetica, sans-serif;
}
.links :link,:active,:visited{
    text-decoration: none;color: black;font-size: 16px;font-family: Arial, Helvetica, sans-serif;
}
.links:hover{
    color: rgb(255, 255, 255);font-size: 16px;font-family: Arial, Helvetica, sans-serif;text-decoration: overline;
}
 
/* .bg-img{
   height: 500vh;  width: 1490px; margin: 0px; padding: 0px; box-shadow: 2px 3px 10px 5px rgb(196, 196, 196);

}  */



   .centered_img_text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50% );
    color: black;
  }

  .centered_img_text_cont{
    position: relative;
    text-align: center;
    color: white;
  } 
 
.heading{
    font-family: 'Martian Mono', monospace;font-size: 2vw;  letter-spacing: 1px;background-color: #ffee00;

} 

.pre {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 249, 249); opacity: 0;animation: pop-up 0.5s ease forwards; animation: pop-up 0.5s ease forwards 1s;
  }

  @keyframes pop-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0);
    }
  }


.head_2{
 font-size: 1.5vw; font-family: 'Inconsolata', monospace; font-weight: 595; line-height: 1; letter-spacing: 1px;
}
 



/* 
 .bg-image{
    background-image: url('../images/bg-image1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 

}  */














.img{
   height: 500px;
   width: 1495px;
   padding-left: 0px;
   margin-left: 0px;
   opacity: 0.2;
}